.container_main{
    border-radius:20px;
    padding: 15px;
    background-color: white;
    margin-top: 2rem;
}
.customaxis path{
    stroke:rgb(197, 197, 197);
}
.customaxis g.tick line{
    stroke:#e8e8e8;
}


.stockInfo{
    font-weight: 600;
    margin-top: 2rem;
    font-size: 1.4rem;
    padding-left: 1rem;
}
.price{
    opacity:0.9;
    color: rgb(44, 44, 44);
    font-size: 1.3rem;
}
.percentChange{
    font-size: 1.3rem;
}
svg{
    overflow:visible;
}